<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meplusplus"
    tools:ignore="LockedOrientationActivity"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app_mobile"
        android:label="Me++"
        android:roundIcon="@drawable/icon_app_mobile"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meplusplus"
        tools:targetApi="31">
        <activity
            android:name=".CalorieCalculator.CalculateMetabolismActivity"
            android:exported="true"
            android:label="CalculateMetabolismActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
             />
        <activity
            android:name=".FoodTracking.CaloriesActivity"
            android:exported="true"
            android:label="@string/title_activity_calories"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Chatting.MessageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="MessageActivity"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Chatting.ChattingActivity"
            android:exported="true"
            android:label="@string/title_activity_chatting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Utils.FeedBackActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Utils.EditProfile"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Utils.CommentDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_comment_detail"
            android:theme="@style/Theme.Meplusplus.NoActionBar" />
        <activity
            android:name=".Utils.PostActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.meplusplus.ForgotPassword"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.meplusplus.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.meplusplus.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.meplusplus.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.example.meplusplus.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Meplusplus.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>